* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.main-profile {
    background-color: #004285;
    height: 40vh;
    width: 100%;
    position: relative; /* Add relative positioning to the main-profile container */
}

.imgProfile-container {
    position: absolute; /* Use absolute positioning */
    /* bottom: 0; */
    display: flex;
    justify-content: center;
    transform: translateX(50%);
}

.imgProfile-container img {
    max-width: 40%;
    border: 7px solid #7b57b2;
    border-radius: 100%;
    overflow: hidden;
}