* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #F8F8F2;
}

nav {
  background-color: #003366;
  z-index: 10000;
  position: sticky;
  top: 0;
}

.wrapHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  padding: 0 5px;
}

.logo, .userLogo {
  border-radius: 100%;
  border: 0.5px solid rgb(163, 112, 112);
  background-color: #FEFEEF;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none; /* Initially hidden, shown only in mobile view */
}

.navLinks {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  width: 74%;
}

.navLinks a p, .navLinks .profileText {
  margin-top: 11px; 
  color: whitesmoke;
}

.desktopIcon {
  display: block; /* Show icon by default on desktop */
}

.mobileText {
  display: none; /* Hide 'My Profile' text on desktop */
}

@media (max-width: 500px) {
  .menuButton {
    display: block; /* Show the menu button in mobile view */
  }

  .navLinks {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: max-height 0.8s ease-in-out;
    max-height: 0;
    overflow: hidden;
    padding-left: 11px;
    position: absolute;
    top: 53px;
    left: 0;
    width: 100%;
    background-color: #003366;
    display: block;
  }

  .navLinks.active {
    max-height: 300px; 
  }

  .desktopIcon {
    display: none; 
  }

  .mobileText {
    display:block;
  }
}